#navbar-top {
  background-color: #333;

  a {
    color: white;
  }
}

#apps {
  padding-top: 30px;

  .app-info {
    height: 500px;
  }

  .app-description {
    height: 350px;
  }
}

#support .contact-email {
  color: #0078a0;
}
