#navbar-top data-magellan-expedition="fixed"
  dl.sub-nav
    dd data-magellan-arrival="js"
      a href="#cubes"  Flat Cubes
    dd data-magellan-arrival="js"
      a href="#flappy"  Flappy Dot
    dd data-magellan-arrival="js"
      a href="#zazen"  Zazen Timer
    dd data-magellan-arrival="support"
      a href="#support"  Support

#apps
  - data.apps.each do |app|
    .row
      .large-12.columns
        ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
          li
            .app-info.panel
              a name="#{app.nav_name}"
              h2 data-magellan-destination="#{app.nav_name}" = app.name
              .app-description
                - app.paragraphs.each do |par|
                  p
                    = par
              .app-store-img
                a href="#{app.app_store_link}" target="_blank"
                  img src="images/app_store.png" /
          li
            img src="images/#{app.image1}" /
          li
            img src="images/#{app.image2}" /


#support
  .row
    .large-12.columns
      a name="support"
      .panel
        | Mail to:
        span.contact-email data-magellan-destination="support" =" #{data.page.email}"

